cssmin==0.2.0
cssselect==0.9.1
Django==1.8.4
django-appconf==1.0.1
django-bootstrap-breadcrumbs==0.7.1
django-compressor==1.5
django-libsass==0.2
django-redis-cache==0.13.1
django-modelcluster==0.6.2
django-nose==1.4
django-sendfile==0.3.7
django-taggit==0.14.0
django-treebeard==3.0
djangorestframework==2.4.1
html5lib==0.999
ipython==2.2.0
jsonfield==0.9.23
MySQL-python==1.2.5
ply==3.6
pycrypto==2.6.1
pyquery==1.2.9
python-dateutil==2.2
pytz==2015.2
regex==2014.10.9
requests==2.4.3
unicodecsv==0.9.4
Unidecode==0.4.16
validate-email==1.2
wheel==0.24.0
wagtail==1.1
